@model IEnumerable<ReservaSala.Models.Sala>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sala item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.Nome)
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Salas")" class="btn btn-primary">
    Adicionar Sala
</a>
