@model ReservaSala.Models.Reserva

<h4>Fazer Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Sala</label>
                <select asp-for="Sala.Id" class="form-control" id="select-sala">
                </select>

                <span asp-validation-for="Sala.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control data-hora" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTermino" class="control-label"></label>
                <input asp-for="DataTermino" class="form-control data-hora" />
                <span asp-validation-for="DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Fazer Reserva</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    // buscando todas as salas existentes
    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            type: 'get',
            url: '@Url.Action("", "api/Salas")'
        }).done(function (dados)
        {
            // preenchendo o select com as salas disponiveis
            for (let i = 0; i < dados.length; i++)
            {
                document.getElementById('select-sala').innerHTML += "<option value=" + dados[i].id + ">" + dados[i].nome + "</option>";
            }
        }).fail(function ()
        {
            Swal.fire({
                title: 'Oops!',
                text: 'Erro Desconhecido!',
                type: 'error',
                allowOutsideClick: false,
                allowEscapeKey: false
            });
        });

        $('.data-hora').mask('00/00/0000 00:00');
    });
</script>

